body{
    background-color: white;
}
.Menu_bar{
    background-color: white;
    position: relative;
    width: 80%;
    height: 90%;
    margin-left: 250px;
    margin-top: 23px;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
     display: inline-block;
     list-style: none;
     margin: 20px 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 13px;
}
nav ul li a:hover{
    color: red;
}
.Active{
    color: white;
    border-radius: 25px;
    background-image: linear-gradient( 150deg,#ac35c5 , #4927c6);
    padding: 20px;
    width: 200px;
    height: 150px;
}
.header_words{
    text-align: center;
}
button{
    color: white;
    margin-left: 620px;
    margin-top: 30px;
    background-image: linear-gradient( 150deg,#ac35c5 , #4927c6);
    padding: 13px 25px;
    font-size: 14px;
    border: none;
    display: inline-block;
    font-weight: 200;

}
  .projects{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;

  }
  .Project_1{
    background-image: linear-gradient( 150deg,#ac35c5 , #4927c6);
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: lighter;
  }
  .Project_3{
    background-image: linear-gradient( 150deg,#ac35c5 , #4927c6);
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: lighter;

  } 
  .Project_3 img{
    width: 400px;
    height: 250px;
  }
  .Project_2{
    background-image: linear-gradient( 150deg,#ac35c5 , #4927c6);
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: lighter;
  }
  .Project_2 img{
    width: 370px;
    height: 250px;
  }